{% extends "layout.html" %}
{% block content %}
      <!-- Main component for a primary marketing message or call to action -->
    <div class="container">
      <div class="jumbotron">
        <h1>Most Recent Text Messages {{ author }}</h1>
      </div>
        {% for row in data %}
        <div class="row marketing">
            <div class="col-12">
                <h3>
                    Sent on: {{ row.month_name }} {{ row.day }} {{ row.year }} by the {{row.Sender}} Campaign
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
            <p>
                {{ row.text }}
            </p>
            </div>
            <div class="col-3">
                <h4> Sentiment Analysis </h4>
                <span class="p-1"> Positivity: {{ row.positivity }}</span>
                <span class="p-1"> Negativity: {{ row.negativity }}</span>
                <span class="p-1"> Complexity: {{ row.compound }}</span>
            </div>
            </div>
        {% endfor %}
    </div>
   {% endblock %}



