<h1>{{form.subject.data}}</h1>
<hr>
Contact First Name: <span>{{form.first_name.data}}</span>
Contact Last Name: <span>{{form.last_name.data}}</span>
Contact Email: <span>{{form.email.data}}</span>
Contact Phone: <span>{{form.phone.data}}</span>
<h3>Notes:</h3>
<p>{{form.message.data}}</p>

<h2>Quote Information</h2>
address: <span>{{form.address.data}}</span>
city: <span>{{form.city.data}}</span>
zip code: <span>{{form.zip_code.data}}</span>
<h3> interested in</h3>
auto insurance: <span>{{form.auto_interest.data}}</span>
homeowners insurance: <span>{{form.homeowners_interest.data}}</span>
renters insurance: <span>{{form.renters_interest.data}}</span>
commercial insurance: <span>{{form.commercial_interest.data}}</span>
workers comp policy: <span>{{form.workers_comp_policy_interest.data}}</span>
workers comp audit: <span>{{form.workers_comp_audit_interest.data}}</span>

<h3>Current Insurance</h3>
Current Insurance Provider: <span>{{form.current_insurance.data}}</span>
Renewal Date: <span>{{form.renewal_date.data}}</span>

<h3>Other Information</h3>
Smoker: <span>{{form.smoker.data}}</span>
Daily Miles: <span>{{form.daily_miles.data}}</span>
Pleasure Use: <span>{{form.pleasure_use.data}}</span>
Number of Adults: <span>{{form.num_adults.data}}</span>
Number of Minors: <span>{{form.num_minors.data}}</span>
Number of Drivers: <span>{{form.num_drivers.data}}</span>
Home is Rental: <span>{{form.house_rental.data}}</span>
Number of Apartments: <span>{{form.num_apartments.data}}</span>
Number of Units: <span>{{form.num_units.data}}</span>
Apartment building date: <span>{{form.apartment_bday.data}}</span>
Commercial building date: <span>{{form.commercial_bday.data}}</span>
Commercial Use: <span>{{form.commercial_use.data}}</span>
Business Use: <span>{{form.business_use.data}}</span>

